@import '@styles/variables';
@import '@styles/components';

.bg-light {
  background: #efefbb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-dark {
  background: $color-bg-dark; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2230,
    $color-bg-dark,
    #1d2230
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2230,
    $color-bg-dark,
    #1d2230
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page-content {
  min-height: calc(100vh - 5rem - 5rem);
}

.follow-me {
  @apply text-lg font-bold italic;
  @include text-high-light;
}

.author {
  @apply text-base font-semibold;
  @include text-high-light;

  &.--italic {
    @apply italic;
  }
}

.float-twitter-button {
  @apply bg-black rounded-[10px];
  .ant-float-btn-body {
    @apply bg-black;
  }
}
